/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 30px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit .header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}
.header__logo {
  display: block;
  width: 130px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24.3px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-style: normal;
}

.header__address {
  justify-self: end;
  max-width: 236.49px;
}
/*start main. section cover*/

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  padding: 155px 50px 0 50px;
}

.background-spec {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  text-transform: uppercase;
  z-index:1;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.35em;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  line-height: 1.35em;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  column-gap: 107px;
  margin-top: 96px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
/*section lots*/

.lots {
  margin: 180px 0 0 24px;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-link,
.card {
  height: 100%;
}

.card__title {
  z-index: 1;
  margin: 48px 40px 0 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #fff;
}

.card__text {
  z-index: 1;
  margin: 0 40px 48px;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
/*section about*/

.about {
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 25px;
  margin: 120px 24px 0 24px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 136px 0 100px 0;
  align-self: flex-start;
}

.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 24px;
  align-items: flex-start;
}
/*footer*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  padding: 180px 50px 82px;
  font-size: 18px;
}

.footer__address {
  max-width: 264px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__menu {
  line-height: 21px;
  text-align: center;
  width: 164px;
  margin-left: 37px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__links-list-item_no-bullit .footer__menu-link_active {
  text-decoration: none;
}
